<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Comments ANY>
<!ATTLIST Comments id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT ProjectsItem ANY>
<!ATTLIST ProjectsItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1066" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-01T11:33:05" updateDate="2015-09-01T11:33:05" nodeName="Forside" urlName="forside" path="-1,1066" isDoc="" nodeType="1053" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1052" nodeTypeAlias="HomePage">
    <pageTitle><![CDATA[Forside]]></pageTitle>
    <pageContent><![CDATA[<p>Hej</p>]]></pageContent>
    <ArticlesMain id="1067" parentID="1066" level="2" creatorID="0" sortOrder="0" createDate="2015-09-01T12:25:33" updateDate="2015-09-08T10:56:32" nodeName="Articles" urlName="articles" path="-1,1066,1067" isDoc="" nodeType="1059" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1058" nodeTypeAlias="ArticlesMain">
      <articlesTitle><![CDATA[Article]]></articlesTitle>
      <articleConten><![CDATA[<p>Article content</p>]]></articleConten>
      <ArticlesItem id="1068" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2015-09-01T12:26:51" updateDate="2015-09-08T11:09:40" nodeName="Umbraco article" urlName="umbraco-article" path="-1,1066,1067,1068" isDoc="" nodeType="1057" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1056" nodeTypeAlias="ArticlesItem">
        <articlesTitle><![CDATA[Umbraco article]]></articlesTitle>
        <articlesContent><![CDATA[<p><span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span></p>]]></articlesContent>
        <articlesAuthor><![CDATA[Simon]]></articlesAuthor>
      </ArticlesItem>
      <ArticlesItem id="1071" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2015-09-08T11:09:30" updateDate="2015-09-08T11:09:30" nodeName="Umbraco web development" urlName="umbraco-web-development" path="-1,1066,1067,1071" isDoc="" nodeType="1057" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1056" nodeTypeAlias="ArticlesItem">
        <articlesTitle><![CDATA[Umbraco web development]]></articlesTitle>
        <articlesContent><![CDATA[<p><span>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</span></p>]]></articlesContent>
        <articlesAuthor><![CDATA[Vicki]]></articlesAuthor>
      </ArticlesItem>
    </ArticlesMain>
    <TextPage id="1070" parentID="1066" level="2" creatorID="0" sortOrder="1" createDate="2015-09-01T12:34:46" updateDate="2015-09-15T10:31:54" nodeName="About" urlName="about" path="-1,1066,1070" isDoc="" nodeType="1055" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1054" nodeTypeAlias="TextPage">
      <frontpageArticle><![CDATA[{
  "name": "Full width article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "2 col article",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "controls": [
                {
                  "value": "Headline",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "controls": [
                {
                  "value": null,
                  "editor": {
                    "name": "Image",
                    "alias": "media",
                    "view": "media",
                    "render": null,
                    "icon": "icon-picture",
                    "config": {}
                  }
                },
                {
                  "value": null,
                  "editor": {
                    "name": "Image",
                    "alias": "media",
                    "view": "media",
                    "render": null,
                    "icon": "icon-picture",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "controls": [
                {
                  "value": "<p>asfdsgfdsgsdg</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "controls": [
                {
                  "value": "<p>Text 1 </p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "controls": [
                {
                  "value": "<p>Text 2</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "controls": [
                {
                  "value": "<p>Text 3</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "0ddd7309-e7ae-4069-a2db-edd2c909194b"
        }
      ]
    }
  ]
}]]></frontpageArticle>
    </TextPage>
    <ProjectsMain id="1072" parentID="1066" level="2" creatorID="0" sortOrder="2" createDate="2015-09-08T11:10:15" updateDate="2015-09-08T11:11:30" nodeName="Projects" urlName="projects" path="-1,1066,1072" isDoc="" nodeType="1063" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1062" nodeTypeAlias="ProjectsMain">
      <projectMainContent><![CDATA[<p><span>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</span></p>]]></projectMainContent>
      <projectMainTitle><![CDATA[Project]]></projectMainTitle>
      <ProjectsItem id="1073" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2015-09-08T11:27:41" updateDate="2015-09-18T10:23:47" nodeName="Project affald" urlName="project-affald" path="-1,1066,1072,1073" isDoc="" nodeType="1061" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1060" nodeTypeAlias="ProjectsItem">
        <projectTitle><![CDATA[Affaldsproject]]></projectTitle>
        <projectContent><![CDATA[Dette er et affaldsproject]]></projectContent>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </ProjectsItem>
      <ProjectsItem id="1075" parentID="1072" level="3" creatorID="0" sortOrder="1" createDate="2015-09-15T09:33:14" updateDate="2015-09-15T09:33:14" nodeName="Project AngularJS" urlName="project-angularjs" path="-1,1066,1072,1075" isDoc="" nodeType="1061" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1060" nodeTypeAlias="ProjectsItem">
        <projectTitle><![CDATA[AngularJS broker case]]></projectTitle>
        <projectContent><![CDATA[Dette er et AngularJS project]]></projectContent>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </ProjectsItem>
      <ProjectsItem id="1078" parentID="1072" level="3" creatorID="0" sortOrder="2" createDate="2015-09-15T11:42:01" updateDate="2015-09-18T10:24:12" nodeName="Project Umbraco" urlName="project-umbraco" path="-1,1066,1072,1078" isDoc="" nodeType="1061" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1060" nodeTypeAlias="ProjectsItem">
        <projectTitle><![CDATA[Project Umbraco]]></projectTitle>
        <projectContent><![CDATA[Dette er et Umbraco project]]></projectContent>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </ProjectsItem>
      <ProjectsItem id="1079" parentID="1072" level="3" creatorID="0" sortOrder="3" createDate="2015-09-15T11:52:25" updateDate="2015-09-18T10:24:15" nodeName="Project Snehaderen" urlName="project-snehaderen" path="-1,1066,1072,1079" isDoc="" nodeType="1061" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1060" nodeTypeAlias="ProjectsItem">
        <projectTitle><![CDATA[Project Snehaderen]]></projectTitle>
        <projectContent><![CDATA[Snehaderen]]></projectContent>
        <projectStatus><![CDATA[Idea]]></projectStatus>
      </ProjectsItem>
      <ProjectsItem id="1080" parentID="1072" level="3" creatorID="0" sortOrder="4" createDate="2015-09-18T10:10:03" updateDate="2015-09-18T10:10:03" nodeName="Project Sidney Lee" urlName="project-sidney-lee" path="-1,1066,1072,1080" isDoc="" nodeType="1061" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1060" nodeTypeAlias="ProjectsItem">
        <projectTitle><![CDATA[Sidney Lee]]></projectTitle>
        <projectContent><![CDATA[Hva sker der.... er i glar?]]></projectContent>
        <projectStatus><![CDATA[Completed]]></projectStatus>
      </ProjectsItem>
    </ProjectsMain>
    <ContactPage id="1086" parentID="1066" level="2" creatorID="0" sortOrder="3" createDate="2015-09-18T11:19:31" updateDate="2015-09-18T11:19:31" nodeName="Contact" urlName="contact" path="-1,1066,1086" isDoc="" nodeType="1082" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1081" nodeTypeAlias="ContactPage" />
    <TextPage id="1098" parentID="1066" level="2" creatorID="0" sortOrder="4" createDate="2015-09-22T11:26:14" updateDate="2015-09-22T11:31:55" nodeName="Login" urlName="login" path="-1,1066,1098" isDoc="" nodeType="1055" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1096" nodeTypeAlias="TextPage">
      <textPageTitle><![CDATA[Login]]></textPageTitle>
      <textPageContent><![CDATA[<p>Please login</p>]]></textPageContent>
    </TextPage>
    <TextPage id="1099" parentID="1066" level="2" creatorID="0" sortOrder="5" createDate="2015-09-22T11:26:32" updateDate="2015-09-22T13:12:28" nodeName="Forbidden Acces" urlName="forbidden-acces" path="-1,1066,1099" isDoc="" nodeType="1055" creatorName="Simon Christensen" writerName="Simon Christensen" writerID="0" template="1054" nodeTypeAlias="TextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <textPageTitle><![CDATA[Forbidden Access]]></textPageTitle>
      <textPageContent><![CDATA[<p>Forbidden Access</p>]]></textPageContent>
    </TextPage>
  </HomePage>
</root>